[buildout]
extends =
# Plone 5.x Buildout Config
    http://dist.plone.org/release/5-latest/versions.cfg
# Plone Community addon source info for mr.developer
    http://plonesource.org/sources.cfg
# Sensitive Information
    secrets.cfg

extensions =
# Extension to automate external package development
# See: https://github.com/fschulze/mr.developer
    mr.developer

# Automatically checkout packaed listed in sources section
auto-checkout +=

parts =
    instance

[instance]
recipe = plone.recipe.zope2instance
user = ${secrets:plone_username}:${secrets:plone_password}
http-address = 8080
eggs =
    Plone
    justin.test

[sources]
# Add external package links here.
# Ex: a package from git 
# justins.coolproject = git git@github.com:techdev5521/justins.coolproject.git
# Ex: a package from your local filesystem
# justin.localproject = fs justin.localproject full-path=/path/to/setup.py


[versions]
# Unpin because 4.10 won't build but >= 5.x will.
zope.container = 